---
# PodDisruptionBudget - 고가용성 보장
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: heimdall-pdb
  namespace: default
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: heimdall
